
body {
    background-color: #EDEDED;
    line-height: 1.5em;
    margin: 0;
    font-family: serif !important;
    font-size:14px;
}

a:link {
      color: #D64078;
        text-decoration: none;
}

a:visited {
      color: #D64078;
}

a:hover,.logout button:hover
{
      text-decoration: underline;
}

a:active,.logout button:active 
{
    background-color: black;
    color: white;
}

#logo {
    background-color: #EDEDED;
    text-align: center;
}

#logo img {
    width: 220px;
    vertical-align: middle;
}

#container {
    background-color: #FFFFFF;
    padding: 1em;
}

#navbar {
    float: left;
    height: 500px;
}

#content {
    min-height: 200px;
    max-width: 700px;
    margin: 0 auto 2em;
}

input:focus {
    border: 2px solid #900;
}

label {
    display: inline-block;
    width:300px;
    text-align: right;
}

.moviebox {
    width: 150px;
    height: 280px;
    margin-left: 10px;
    float: left;
}

.review {
    border: 1px solid gray;
    margin: 10px;
}


.logout button
{
    outline:0;
    background:none;
    border:0;
    color:#D64078;
    padding:0;
    text-decoration: none;
    text-align:left;

    font-family: serif !important;
    font-style: normal;
    font-size:14px;

}
